%% -*- erlang -*-
[
 {mgmepi, [
           {sup, [
                  {local, mgmepi_sup},
                  {
                    {one_for_one, 10, 1},
                    [
                     {
                       {mgmepi_pool,1},
                       {poolboy,start_link,[
                                            [
                                             {worker_module, mgmepi_server},
                                             {size, 0},
                                             {max_overflow, 3}
                                            ],
                                            [
                                             "127.0.0.1",
                                             9001, % 1186
                                             [
                                              {active, false},
                                              {buffer, 8000},
                                              {keepalive, true},
                                              {mode, binary},
                                              {packet, raw},
                                              {recbuf, 8000}, % 70080
                                              {sndbuf, 1000}  % 71540
                                             ],
                                             3000
                                            ]
                                           ]},
                       permanent,
                       5000,
                       worker,
                       []
                     }
                    ]
                  }
                 ]}
          ]}
].
