%% -*- erlang -*-

{pool_v73, [
            {sup, [
                   {local, mgmepi_sup},
                   {
                     {one_for_one, 10, 1},
                     [
                      {
                        mgmepi_pool,
                        {poolboy,start_link,[
                                             [
                                              {name, {local,mgmepi_pool}},
                                              {worker_module, mgmepi_server},
                                              {size, 1},
                                              {max_overflow, 3}
                                             ],
                                             [
                                              "127.0.0.1",
                                              9001,
                                              [
                                               {active, false},
                                               {buffer, 100},
                                               {keepalive, true},
                                               {mode, binary},
                                               {packet, raw},
                                               {recbuf, 50},
                                               {sndbuf, 50}
                                              ],
                                              3000
                                             ]
                                            ]},
                        permanent,
                        5000,
                        worker,
                        []
                      }
                     ]
                   }
                  ]}
           ]}.
